.s-hero {  
  .container {
    display: flex;
    position: relative; 
    .text-area {
      margin-top: 9.4rem;      
      position: relative;
      z-index: 2022;
      .up {
        display: flex;
        align-items: center;
        .icon {
          background-color: $primary-default;
          border-radius: 50%;
          height: 3.2rem;
          width: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1.2rem;        
        }
        span {
          color: $neutral-dark-500;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 150%;        
        }
      }
      .titulo {        
        .titulo-principal {
          h1 {
            margin-top: 1.6rem;
          color: $neutral-dark-700;
          font-weight: 400;
          font-size: 5.8rem;
          line-height: 125%;
          width: 100%;
          max-width: 71.2rem;
          margin-bottom: 3rem;           
          }
          strong {
            text-decoration: underline $primary-default;
          } 
        }                 
        
        h3 {
          color: $neutral-dark-400;
          font-weight: 400;
          font-size: 2rem;
          line-height: 150%;
          width: 100%;
          max-width: 54.5rem;
          margin-bottom: 4rem;
          margin-top: 3rem;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        .cadastrar-negocio {
          border: 1px solid $primary-default;
          background-color: $primary-default;
          color: #FFFFFF;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 150%;
          padding: 16px 32px;
          margin-right: 4.9rem;
          transition: all .3s;
          &:hover {
            border: 1px solid $primary-default;
            background-color: #FFFFFF;
            color: $primary-default;
          }
        }
        .fale-conosco {
          display: flex;
          align-items: center;
          img {
            margin-right: 1.2rem;
          }
          a {
            color: $neutral-dark-500;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            transition: all .3s;
            &:hover {
              color: #140C40;
              text-decoration: underline #140C40;
            }
          }
        }
      }
    }
    .image-area {
      display: flex;      
      .primary-image {
        position: relative;
        top: 0;
        right: 5rem;
        
        img {
          z-index: 0;
        }
      }
      .chat {
        position: absolute;
        top: 20.9rem;
        right: 32.4rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        height: 49px;
        width: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .chart {
        position: absolute;
        width: 22.1rem;
        height: 19.9rem;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 33.1rem;
        right: 3.8rem;
        box-shadow: 0px 30px 40px -20px rgba(74, 77, 96, 0.2);
        backdrop-filter: blur(24px);
      }
    }
    
  }
  @include responsive (800px) {
    margin: 0rem 2rem 2rem 2rem;
    .container {
      .text-area {
        margin-top: 4.4rem;
        .titulo {
          .titulo-principal {
            h1 {
              font-size: 3.8rem;
            }
          }
          
          h3 {
            font-size: 1.6rem;
          }
        }
        .buttons {
          .cadastrar-negocio {
            font-size: 1.1rem;            
            padding: 14px 19px;
            margin-right: 2.9rem;
          }
          .fale-conosco {
            a {
              font-size: 1.4rem;
            }
            img {
              margin-right: 0.6rem;
            }
          }
        }
        
      }
      .image-area {
        .primary-image {
          right: 0rem;
        }
        .chart {
          width: 14.1rem;
          height: 10.9rem;
          top: 24.1rem;
          img{
            width: 12.5rem;
          }
        }
        .chat {
          top: 12.9rem;
          right: 17.4rem;
        }
      }
    }
     
    
  }
  @include responsive (480px) {
    background-color: #F2F5FC;
    margin: 0;
    .container {
      display: flex;
      flex-direction: column;
      .text-area {
        display: flex;
        flex-direction: column;
        .up {
          display: flex;
          justify-content: center;
        }
        .titulo{          
          display: flex;
          flex-direction: column;          
          text-align: center;
          .titulo-principal {
            h1 {
              font-size: 3.2rem;
              margin-bottom: 1.6rem;
            }
          }
          
          h3 {
            max-width: 29.5rem;
            text-align: center;
            margin: 0 auto 4rem auto;
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .cadastrar-negocio {
            margin-right: 0;
            width: 30.3rem;            
            font-size: 1.8rem;
            line-height: 150%;
            padding: 1.6rem 0 1.7rem 0;
            margin-bottom: 3.5rem;
          }
          .fale-conosco {
            a {
              font-size: 1.6rem;
            }
            img {
              margin-right: 1.2rem;
            }
          }
        }
      }
      .image-area {
        
        .chat {
          top: 53.9rem;
          right: 17.4rem;
        }
        .chart {
          top: 65.1rem;
        }
      }
      
      
    }
  }
  
}

.s-dados {
  margin-bottom: 12rem;
  position: relative;
  width: 100%;
  height: 34.4rem;
  background-color: $primary-default;
  .forma-superior {
    position: absolute;
    top: 0;
    left: 0;    
  }
  .forma-superior2 {
    position: absolute;
    top: 0;
    left: 11.2rem;    
  }
  .forma-superior3 {
    position: absolute;
    top: 0;
    left: 22.4rem;    
  }
  
  .forma-inferior {
    position: absolute;
    bottom: 0;
    right: 22.4rem;
  }
  .forma-inferior2 {
    position: absolute;
    bottom: 8.8rem;
    right: 11.2rem;
  }
  .forma-inferior3 {
    position: absolute;
    bottom: 8.8rem;
    right: 0;
  }
  .container {
    display: flex;
    .left-area {
      padding-top: 7.3rem;
      max-width: 37.8rem;
      margin-right: 14.2rem;
      .text {
        margin-bottom: 1.6rem;
        p {
          margin-top: 1.6rem;
          font-weight: 400;
          font-size: 2rem;
          line-height: 150%;  
          color: #FFFFFF;
        }
      }
      .autor {
        display: flex;
        align-items: center;
        .image-autor {
          border-radius: 50%;
          background-color: #FFD76F;
          margin-right: 2rem;
        }
        .nome-formacao {
          h4 {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 150%;  
            color: #FFFFFF;
          }
          p {
            font-size: 1.4rem;
            line-height: 150%;  
            color: #FFFFFF;            
          }
        }
      }
    }
    .right-area {
      padding-top: 8rem;      
      .numeros {
        display: flex;
        margin-bottom: 3.2rem;          
        .projetos {
          margin-right: 5.6rem;
          h3 {
            font-weight: 400;
            font-size: 5.6rem;
            line-height: 125%;
            color: #FFFFFF;
          }
          p {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%; 
            color: #FFFFFF;
          }
        }
        .escritorios {
          margin-right: 5.6rem;
          h3 {
            font-weight: 400;
            font-size: 5.6rem;
            line-height: 125%;
            color: #FFFFFF;
          }
          p {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%; 
            color: #FFFFFF;
          }
        }
        .faturamento {          
          h3 {
            font-weight: 400;
            font-size: 5.6rem;
            line-height: 125%;
            color: #FFFFFF;
          }
          p {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%; 
            color: #FFFFFF;
          }
        }
      }
      .risco {
        margin-bottom: 3.2rem;
      }
      .lower {        
        p {
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
        }
      }
    }
  }

  @include responsive (1440px) {
    .forma-superior2 {
      top: 0;
      left: 0rem;
    }
    .forma-superior3 {
      top: 0;
      left: 0rem;
    }
    .forma-inferior {
      bottom: 0;
      right: 0.4rem;
    }
    .forma-inferior2 {     
      right: 0;
    }
  }
  @include responsive (800px) {
    .container {
      .left-area {
        padding-top: 5.3rem;
        max-width: 30.8rem;
        margin-right: 4.2rem;
        .text {
          margin-bottom: 2.6rem;
        }
      }
      .right-area {
        padding-top: 6rem;
        .numeros {
          .projetos, .escritorios, .faturamento {
            h3 {
              font-size: 3.6rem;
            }
            p {
              font-size: 1.6rem;
            }
          }
          .projetos, .escritorios {
            margin-right: 3.6rem;
          }
        }
      }
    }
  }
  @include responsive (480px) {
    margin-bottom: 0;
    height: 80.1rem;
    .forma-inferior3, .forma-inferior2 {
      bottom:  0rem;
      right: 0;
    }
    
    .forma-inferior {      
      bottom: -6.6rem;
      right: -0.6rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      .left-area {
        max-width: 48rem;
        display: flex;
        flex-direction: column;        
        align-items: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 1.6rem;
        padding-top: 6.4rem;
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 2.2rem;
            height: 1.8rem;
          }
        }
        
      }
      .right-area {
        padding-top: 3rem;
        .numeros {
          display: flex;
          flex-direction: column;
          text-align: center;
          .projetos, .escritorios, .faturamento {
            margin-right: 0;            
            h3 {
              font-size: 4rem;
            }
            p {
              font-size: 1.8rem;
            }
          }
          .projetos, .escritorios {
            margin-bottom: 5.6rem;
          }
        }
      }
      .risco {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .lower {
        text-align: center;
      }
    }
  }
  
}

.s-about {
  margin-bottom: 12rem;
  .container {
    display: flex;
    justify-content: space-between;
    .left-area {
      width: 100%;
      max-width: 48.3rem;   
      
      .titulos {
        p {
          color: $primary-default;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 150%;
          margin-bottom: 1.6rem;          
        }
        h2 {
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 125%;
          color: $neutral-dark-700;
          margin-bottom: 4rem;
        }
      }
      .about {        
        ul {
          margin-bottom: 3rem;
          li {
            display: flex;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 2.4rem;
            }
            .icon {
              width: 24px;
              height: 24px;
              background-color: #35D9A8;
              border-radius: 50%;
              display: flex; 
              align-items: center;
              justify-content: center;
              margin-right: 1.6rem; 
            }
            p {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 150%;
              color: $neutral-dark-400;
            }
          }
        }        
      }
      .imagem-inferior {
        display: flex;
        position: relative;
        .imagem-arrow {
          position: absolute;
          left: 0;
          bottom: -0.8rem;
          margin-right: 8rem;
        }
        .imagem-mulher {
          position: relative;
          left: 20rem;
        }    
        
      }

    }
    .right-area {
      .video{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.2rem;
        .image-video {
          position: relative;
        }
        .image-play {
          position: absolute;
        }
      }
      .paragrafos {
        max-width: 66.8rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: $neutral-dark-400;
      }
    }
  }
  .lower-area {
    margin-top: 12rem;
    background-color: #F2F5FC;
    height: 13.6rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12rem;    
    .container {
      padding-top: 4.9rem;      
    }
  }
  @include responsive (800px) {
    margin-bottom: 6rem;
    .lower-area {
      margin-top: 6rem;
      margin-bottom: 0;
      .container {
        align-items: center;
        img {
          width: 100px;
          max-height: 40px;
        }
      }
    }
    .container {
      .left-area {
        .titulos {
          h2 {
            font-size: 4rem;
          }
        }
        .imagem-inferior {
          .imagem-mulher {
            left: 13rem;
          }
        }
      }
      
    }
  }
  @include responsive (480px) {    
    .container {
      display: flex;
      flex-direction: column;
      padding: 0;
      .left-area {
        padding: 6.4rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .titulos {
          h2 {
            font-size: 2.4rem;
            line-height: 125%;
            max-width: 27rem;
          }
        }
        .imagem-inferior {
          .imagem-mulher {
            left: 0rem;
            bottom: 3.1rem;
          }
          .imagem-arrow {
            display: none;
          }
        }
        
      }
      .right-area {
        padding: 0 2.4rem 0 2.4rem;
        .video {
          width: 32.7rem;
          height: 17.7rem;
          background-color: #1E1C2D;
          box-shadow: 0px 9.39655px 18.7931px -4.69828px rgba(15, 12, 32, 0.2);
          margin-bottom: 4.8rem;
          .image-play {
            width: 4.2rem;
            height: 4.2rem;
          }
        }
        .paragrafos {
          text-align: center;
          font-size: 1.6rem;
        }
      }
    }
    .lower-area {      
      margin-top: 6.4rem;      
      height: 58.3rem;
      .container {
        display: flex;
        flex-direction: column;
        a {
          &:not(:last-child) {
            margin-bottom: 5.4rem;
          }
          img {
            width: 100%;
            max-width: 13rem;            
            
          }
        }
        
      }
      
    }
  }
}

.s-como-funciona {
  margin-bottom: 12rem;
  .container {
    display: flex;
    .left-area {
      width: 100%;
      max-width: 59.2rem;
      position: relative;
      margin-right: 13.6rem;
      .titulos {
        span {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 150%;
          color: $primary-default;          
        }
        h2 {
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 125%;
          color: $neutral-dark-700;
          max-width: 48.3rem;
          margin-top: 1.6rem;
        }
      }
      .imagens {
        margin-top: 5.5rem;
        display: flex;
        .vendas {
          margin-top: 33.8rem;
          align-items: flex-end;
          width: 100%;
          max-width: 17.6rem;
          height: 13.5rem;         
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-right: 3.2rem;
          background-color: rgba(255, 255, 255, 0.9);
          box-shadow: 0px 20px 30px -20px rgba(94, 97, 118, 0.3);
          
          
          .cursor {
           width: 71px;
           height: 71px;
           background-color: #FFD76F;
           border-radius: 50%;
           position: relative;
           left: 5.3rem;
           margin-bottom: 1rem;
           
          }
          .imagem-cursor {
            position: absolute;
            top: 53.5rem;
            left: 0.5rem;
          }
          .numeros {
            span {
              padding-top: 2rem;
              font-weight: 400;
              font-size: 2.4rem;
              line-height: 150%;
              color: $neutral-dark-500;              
            }
            p {
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 150%;
              color: $neutral-dark-200;
            }
          }
        }
        .notebook {
          background-color: #F2F5FC;
          width: 38.4rem;
          height: 47.6rem;
          img {
            max-width: 35rem;
            max-height: 45rem;
          }
        }
      }
    }
    .right-area {
      margin-top: 5.9rem;
      ul {
        position: relative;
          li {                   
          display: flex;         
          .numero {            
            text-align: center;
            width: 6.4rem;
            height: 6.4rem;
            border: 2px solid #CBD6E2;
            border-radius: 50%;                       
            margin-right: 2.4rem;
            padding-top: 1.4rem;           
            &:not(:last-child) {
              margin-bottom: 6.4rem;
            }
            span {
              font-weight: 400;
              font-size: 2rem;
              line-height: 150%;
              color: $primary-default;                        
            }
          }
          .textos {
            span {
              font-weight: 400;
              font-size: 2rem;
              line-height: 150%;
              color: $neutral-dark-700;              
            }
            p {
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 150%;
              color: $neutral-dark-300;
            }
          }
          .imagem-estrela {
            margin-right: 2.4rem;
            width: 6.4rem;
            height: 6.4rem;            
          }
          
        }
        .linha-vertical1 {
          height: 6.4rem;
          position: absolute;
          border-left: 1px dotted #97A5FF;
          top: 6.4rem;
          left: 3.2rem;          
        }
        .linha-vertical2 {
          height: 6.4rem;
          position: absolute;
          border-left: 1px dotted #97A5FF;
          top: 19.3rem;
          left: 3.2rem;          
        }
        .linha-vertical3 {
          height: 6.4rem;
          position: absolute;
          border-left: 1px dotted #97A5FF;
          top: 32.1rem;
          left: 3.2rem;          
        }
        .linha-vertical4 {
          height: 6.4rem;
          position: absolute;
          border-left: 1px dotted #97A5FF;
          top: 44.9rem;
          left: 3.2rem;          
        }
      }
      
    }
  }
  @include responsive (800px) {
    margin-bottom: 4rem;
    .container {
      
      .left-area {
        max-width: 38.2rem;
        margin-right: 0;
        .titulos {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            font-size: 3.4rem;
            max-width: 32.3rem
          }
        }
        .imagens {
          flex-direction: column;
          margin-top: 2.5rem;
          align-items: center;
          
          .vendas {
            display: flex;
            flex-direction: column;
            margin-top: 0rem;
            max-width: 100%;
            height: fit-content;
            justify-content: center;
            margin-right: 0;
            box-shadow: none; 
            margin-bottom: 2rem;           
            .cursor {
              align-items: center;
              justify-content: center;
              left: 0;
            }
            .imagem-cursor {
              top: 12.5rem;
              left: 10.8rem;
            }
          }
          .notebook {
            width: 100%;
            max-width: 32rem;
            max-height: 32rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 32rem;
              max-height: 32rem;
            }
          }
        }
      }
    }
  }
  @include responsive (480px) {
    .container {
      display: flex;
      flex-direction: column;
      position: relative;
      .left-area {
        .titulos {
          margin: 0 auto;
          max-width: 26rem;
          display: flex;
          align-items: center;
          text-align: center;
          h2 {
            font-size: 2.4rem;
          }
        }
      }
      .right-area {
        ul {
          .linha-vertical1 {
            top: 4.6rem;
            left: 2.3rem;
          }
          .linha-vertical2 {
            top: 15.6rem;
            left: 2.3rem;
          }
          .linha-vertical3 {
            top: 26.6rem;
            left: 2.2rem;
          }
          .linha-vertical4 {
            top: 37.6rem;
            left: 2.2rem;
          }
          li {
            .numero {
              width: 4.6rem;
              height: 4.6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 0;
              span {
                font-size: 1.4rem;
              }
            }
            .imagem-estrela {
              width: 4.6rem;
              height: 4.6rem;
              margin-right: 2rem;
            }
          }
            
        }
      }
      
    }
  }
}

.s-blog {
  background-color: #F2F5FC;
  margin-bottom: 12rem;  
  .container {
    .superior {
      padding-top: 12rem;
      display: flex;
      align-items: flex-end;
      margin-bottom: 4rem;
      .titulo {
        margin-right: 21.8rem;
        span {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 150%;
          color: $primary-default;
          
        }
        h2 {
          margin-top: 2rem;
          width: 41.1rem;
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 125%;
          color: $neutral-dark-700;
        }
      }
      .conheca {
        display: flex;
        align-items: center;
        margin-right: 29.8rem;
        span {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 150%;
        text-decoration: underline;
        color: $neutral-dark-700;
        margin-right: 1rem;
        }
      }
    }
    .slide-blog {  
      overflow: hidden;    
      .swiper-wrapper {
        display: flex;
        .swiper-slide {          
          .textos {
            .texto-superior {
              display: flex;
              margin-top: 2.4rem;
              align-items: center;
              margin-bottom: 1.2rem;
              span {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 150%;                
                color: $primary-default;
                margin-right: 1.6rem;
              }
              p {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: $neutral-dark-300;
              }
            }
            .texto-central {
              margin-bottom: 2.4rem;
              p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 150%;
                color: $neutral-dark-700;
              }
            }
            .texto-inferior {
              display: flex;
              padding-bottom: 7.8rem;
              .avatar {
                margin-right: 1.6rem;
              }
              .autor {
                strong {
                  font-weight: 600;
                  font-size: 1.6rem;
                  line-height: 150%;
                  color: $neutral-dark-700;
                }
                span {
                  font-weight: 400;
                  font-size: 1.4rem;
                  line-height: 150%;
                  color: $neutral-dark-400;
                }
              }
            }
          }
        }        
      }
      .swiper-pagination {
        position: relative;
        padding-bottom: 12rem;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background-color: $primary-default;
          opacity: 1;
          
          &-active {
            background-color: #FFFFFF;
            border: 1px solid #1D63FF;
          }
        }
        
      } 
    }
  }
  @include responsive (1200px) {
    .container {
      .superior {
        padding-top: 5rem;
        .titulo {
          h2 {
            font-size: 3.8rem;
            width: auto;
          }
        }
        .conheca {
          margin-right: 8.8rem;
        }
      }
      .slide-blog {
        .swiper-pagination {
          padding-bottom: 5rem;
        }
      }
    }
  }
  @include responsive (800px) {
    margin-bottom: 8rem;
    .container {
      .superior {
        .titulo {
          max-width: 24rem;
          margin-right: 18.8rem;
          h2 {
            width: 100%;
            max-width: none;
            font-size: 2.8rem;
          }
        }
        .conheca {
          span {
            font-size: 1.4rem;
          }
        }

      }
      .slide-blog {
        .swiper-wrapper {
          .swiper-slide {
            .textos {
              display: flex;
              flex-direction: column;
              align-items: center;
              .texto-superior {
                span {
                  font-size: 1.3rem;
                }
                p {
                  font-size: 1.3rem;
                }
              }
              .texto-central {
                display: flex;
                align-items: center;
                text-align: center;
                p {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  @include responsive (480px) {
    margin-bottom: 6.4rem;
    .container {
      .superior {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .titulo {
          margin:0;
          max-width: 20.4rem;
          h2 {
            font-size: 2.4rem;
            margin-top: 1.6rem;
          }
        }
        .conheca {
          margin-right: 0;
          margin-top: 2rem;
          span {
            font-size: 1.8rem;
          }
        }
        .paginator {
          display: none;
        }
      }
      .slide-blog {
        .swiper-wrapper {
          .swiper-slide {
            .textos {
              align-items: flex-start;
              justify-content: flex-start;
              text-align: start;
              .texto-superior {
                span {
                  font-size: 1.6rem;
                }
                p {
                  font-size: 1.6rem;
                }
              }
              .texto-central {
                text-align: start;
                p {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-faq {    
  .container {        
    .upper {
      display: flex;
      .left-area {
        max-width: 41.1rem;
        margin-right: 9.9rem;
        span {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 150%;
          color: $primary-default;                   
        }
        h2 {
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 125%;
          color: $neutral-dark-700;
          margin-top: 1.6rem;
          margin-bottom: 1.6rem;
        }
        p {
          font-weight: 400;
          font-size: 2rem;
          line-height: 150%;
          color: $neutral-dark-500;
        }
        .cadastrar-negocio {
          border: 1px solid $primary-default;
          margin-top: 4rem;
          margin-bottom: 2.4rem;
          background-color: $primary-default;
          color: #FFFFFF;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 150%;
          padding: 16px 32px;          
          transition: all .3s;
          &:hover {
            border: 1px solid $primary-default;
            background-color: #FFFFFF;
            color: $primary-default;
          }
        }
        .fale-conosco {
          display: flex;
          align-items: center;
          img {
            margin-right: 1.2rem;
          }
          a {
            color: $neutral-dark-500;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            transition: all .3s;
            &:hover {
              color: #140C40;
              text-decoration: underline #140C40;
            }
          }
        }
      }
      .area-perguntas {
        .pergunta {
          max-width: 68.6rem;
          width: 100%;
          margin-bottom: 4rem;
          border-bottom: 1.5px solid #CBD6E2;
                            
          &.active {
            transition: all 0.5s ease-out; 
            .title {
              margin-bottom: 1.4rem;
              .simbolo-expandir {
                &:after {
                  content: '\002D';                  
                  color: $neutral-dark-200;
                  font-size: 2.2rem;
                  right: 38rem;                                                  
                }
              }   
            }
            p {
              display: block;
              max-height: 10rem;
              overflow: auto;
            }
          }
          .title {
            display: flex;            
            margin-bottom: 4.5rem;
            width: 100%;
            max-width: 70rem;            
            .simbolo-expandir {
              &:after {
                content: '\002B';                
                color: $neutral-dark-200;
                font-size: 2.2rem;
                right: 38rem;
                position: absolute;
                                 
              }
            }           
            span {
              font-weight: 400;
              font-size: 2.4rem;
              line-height: 125%;
              color: $primary-default;
              margin-right: 2.4rem;                                         
            }
            h4 {
              font-weight: 400;
              font-size: 2rem;
              line-height: 150%;
              color: $neutral-dark-200;                          
            }            
          }
          p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: $neutral-dark-400;
            margin-left: 5rem;
            margin-bottom: 6.6rem;
            display: none;
            max-height: 0;
            overflow: hidden;                       
          }
        }
      }
    }
    .lower {
      width: 100%;
      max-width: 121.6rem;
      display: flex;
      margin-top: 7.8rem;      
      .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 38.4rem;        
        height: 24rem;
        background-color: #F2F5FC;
        justify-content: center;
        align-items: center;
        text-align: center;
        img {
          width: 3.9rem;
          height: 3.7rem;
          margin-bottom: 2.8rem;
        }        
        &:not(:last-child) {
          margin-right: 3.2rem;
        }
        span {
          font-weight: 400;
          font-size: 2rem;
          line-height: 150%;
          margin-bottom: 0.4rem;
        }
        p {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          color: $neutral-dark-300
        }
      }
    }
  }
  @include responsive (1440px) {
    .container {
      .upper {
        .area-perguntas {
          .pergunta {
            &.active {
              .title {
                .simbolo-expandir {
                  &:after {
                    right: 20rem;
                  } 
                }
              }
            }
            .title {
              .simbolo-expandir {
                &:after {
                  right: 20rem;
                } 
              }
            }
          }
        }
      }
    }
  }
  @include responsive (800px) {
    .container {
      .upper {
        margin: 0 2rem;
        .left-area {
          max-width: 27.1rem;
          margin-right: 3.6rem;
          h2 {
            font-size: 3.8rem;
          }
          p {
            font-size: 1.7rem;
          }
        }
        .area-perguntas {
          .pergunta {
            &.active {
              p {
                max-height: 15rem;
              }
              .title {
                .simbolo-expandir {
                  &:after {
                    right: 2rem;
                  }
                }
              }
            }
            .title {
              align-items: flex-start;
              text-align: start;
              .simbolo-expandir {
                &:after {
                  right: 2rem;
                }
              }
              h4 {
                font-size: 1.8rem;
              }
              
            }
             p {
              font-size: 1.4rem;
              margin-left: 4.7rem;
              margin-bottom: 3.6rem;
             }
          }
        }
      }
      .lower {
        margin-top: 3.8rem;
      }
    }
  }
  @include responsive (480px) {
    .container {
      .upper {
        display: flex;
        flex-direction: column;
        text-align: center;
        .left-area {
          margin: 0 auto;
          max-width: none;
          h2 {
            font-size: 2.4rem;
          }
          p {
            font-size: 1.5rem;
          }
          .cadastrar-negocio {
            width: 30.3rem;
            font-size: 1.8rem;
          }
          .fale-conosco {
            justify-content: center;
            margin-bottom: 1.8rem;
          }
        }
        .area-perguntas {
          .pergunta {
            .title {
              
              h4 {
                font-size: 1.6rem;
              }
            }
            p {
              font-size: 1.2rem;
              text-align: start;
            }
          }
        }
        
      }
      .lower {
        flex-direction: column;
        display: flex;
        align-items: center;
        .card {
          width: 32.7rem;
          height: 20.5rem;
          margin-right: 0;
          &:not(:last-child) {
            margin-right: 0;
          }
          img {
            margin-bottom: 1.5rem;
          }
          span {
            font-size: 1.6rem;
          }
          p {
            width: 19.7rem;
          }
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
      
    }
  }
}

.s-newsletter {
  background: url("../img/background.png") no-repeat center center;
  background-size: cover;
  margin-top: 12rem;
  height: 45.6rem;
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .textos {
      padding-top: 8.9rem;
      text-align: center;
      span {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 150%;
        color: $primary-default;        
      }
      h2 {
        font-weight: 400;
        font-size: 4rem;
        line-height: 125%;
        color: #FFFFFF;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;       
      }
      p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: #FFFFFF;        
      }
    }
    .input {
      display: flex;
      align-items: center;
      margin-top: 3.5rem;
      background-color: #F2F5FC;
      width: 100%;
      max-width: 48.8rem;
      height: 7.2rem;
      input {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: $neutral-dark-200;
        margin-right: 10.5rem;
        background-color: #F2F5FC;
        &::placeholder {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          color: $neutral-dark-200        
        }
      }
      img {
        margin-right: 1.4rem;
        margin-left: 2.05rem;
      }
      .cadastrar {
        border: 1px solid $primary-default;
        background-color: $primary-default;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 110%;
        padding: 13px 27px;        
        transition: all .3s;
          &:hover {
            border: 1px solid $primary-default;
            background-color: #FFFFFF;
            color: $primary-default;
          }
      }
    }
  }
  @include responsive (800px) {
    height: 38.6rem;
  }
  @include responsive (480px) {
    height: 48.2rem;
    .container {
      .textos {
        width: 32.7rem;
        padding-top: 6.4rem;
        h2 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.4rem;
          br {
            display: none;
          }
        }
      }
      .input {
        display: flex;
        position: relative;
        width: 32.7rem;
        
        .cadastrar {
          position: absolute;
          bottom: -7rem;
          width: 32.7rem;
          font-size: 1.6rem;
          line-height: 150%;
        }
      }
    }
  }
}

.modal-login {  
  z-index: 2022;
  position: absolute; 
  background-color: #FFFFFF;
  width: 100%;
  top: 0;
  display: flex;  
  justify-content: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s;
  pointer-events: none;
  &.acesso-opened {
    opacity: 1;
    transform: translateY(0%);    
    pointer-events: all;
  }
  .container {   
    .box {
      max-height:100rem;
      display: flex;
      .left-area {
        height: 100rem;
        width: 100%;
        max-width: 52.8rem;
        background-color: $primary-default;
        position: relative;
        margin-right: 24.7rem;
        .upper {
          padding-top: 8.8rem;
          padding-left: 8.8rem;
          h2 {
            font-weight: 400;
            font-size: 3.2rem;
            line-height: 125%;
            color: #FFFFFF;
            margin-top: 6.4rem;
          }
        }
        .lower {
          display: flex;
          align-items: center;
          justify-content: center;
          .mulher {
            position: absolute;
            bottom: 0;
            left: 96px;
          }
          .grafico {
            position: absolute;
            bottom: 71px;
            left: 10px;
          }
          .receita {
            position: absolute;
            background-color: #FFFFFF;
            width: 202px;
            height: 182px;
            bottom: 74px;
            right: 57px;        
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
        }
      }
      .right-area {
        width: 100%;
        max-width: 47.8rem;
        .upper {
          .voltar {
            margin-top: 8.8rem;
            margin-bottom: 8.1rem;            
            .btn-voltar-modal-login {
              display: flex;
              align-items: center;
              img {
                margin-right: 1rem;
              }
              span {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 150%;
                color: $neutral-dark-500;
              }
            }
          }
          .login {
            margin-bottom: 3.8rem;
            h3 {
              font-weight: 400;
              font-size: 3.2rem;
              line-height: 125%;
              color: $neutral-dark-200;              
            }
          }
        }
        .inputs {
          display: flex;
          flex-direction: column;
          margin-bottom: 2.4rem;
          span {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: $neutral-dark-50;
            margin-bottom: 0.3rem;
          }
          input {
            border: 1.5px solid rgba(160, 170, 178, 0.4);
            max-width: 47.8rem;
            height: 5.6rem;
            padding-left: 2rem;
            padding-right: 2rem;
            &:not(:last-child) {
              margin-bottom: 3.2rem;
            }
            &:focus {
              border: 2px solid rgba(29, 99, 255, 0.5);
            }
          }
        }
        .forgot {
          margin-bottom: 3.2rem;          
          display: flex;
          align-items: center;
          .caixa {
            margin-right: 0.8rem;
            input {
              cursor: pointer;
              appearance: none;
              margin: 0;
              width: 2rem;
              height: 2rem;
              color: #FFFFFF;
              border-radius: 3px;
              border: 1.5px solid rgba(160, 170, 178, 0.4);
              transform: translateY(-0.075em);
              display: grid;
              place-content: center;              
              &::before {                
                  content: "";
                  width: 0.65em;
                  height: 0.65em;
                  transform: scale(0);
                  transition: 120ms transform ease-in-out;                  
                  transform-origin: bottom left;
                  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                  background-color: CanvasText;                  
                }
              &:checked {
                transform: scale(1);
                &::before {
                  transform: scale(1)
                }
              }
              &:focus {
                outline: max(2px, 0.15em) ;
                outline-offset: max(2px, 0.15em);
              }             
            }          

          }
          span {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 150%;
            color: $neutral-dark-50;
            margin-right: 21.9rem;              
          }
          button {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: $primary-default;
            transition: text-decoration .3s;
            &:hover {
              text-decoration: underline;
            }           
          }        
        }
        .entrar {
          display: flex;
          flex-direction: column;
          .btn-entrar {
            margin-bottom: 3.5rem;
            width: 100%;
            height: 5.6rem;
            background-color: $primary-default;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            color: #FFFFFF;
            border: 1px solid $primary-default;
            transition: all .3s;
            &:hover {
              border: 1px solid $primary-default;
              background-color: #FFFFFF;
              color: $primary-default;
            }
          }
          span {
            text-align: center;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: #A9ABB7;
            margin-bottom: 3.4rem;            
          }
          .btn-google {
            height: 5.8rem;
            width: 100%;
            background-color: rgba(109, 120, 159, 0.1);
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: #5C6277;
            margin-bottom: 3.2rem;
            img {
              margin-right: 1.6rem;
            }
          }
        }
        .inscrever {
          p {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: $neutral-dark-100;
            strong {
              text-decoration: underline;
              text-decoration-color: $neutral-dark-100;
            }
          }
        }
      }
    }    
   }
  @include responsive (800px) {
    .container {
      padding: 0;
      .box {
        .left-area {
          height: auto;
          margin-right: 3.7rem;
          max-width: 20rem;
          display: none;
          .lower {
            display: none;
          }
          .upper {
            display: none;
          }
        }
        .right-area {
          width: 100%;
          max-width: 76.8rem;
          display: flex;
          flex-direction: column;
          margin: 0 15rem;
          .upper {
            .voltar {
              margin-top: 6.8rem;
              margin-bottom: 7.1rem;
            }
          }
          .entrar {
            .btn-entrar {
              width: 47rem;
            }            
          }
          .inscrever {
            display: flex;
            
            justify-content: center;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  @include responsive (480px) {
    max-width: 38rem;
    .container {
      .box {
        .right-area {
          display: flex;
          max-width: 37.5rem;
          margin: 0 3.7rem;
          .upper {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .inputs {
            input {
              max-width: 28.8rem;
            }
          }
          .entrar {
            .btn-entrar {
              width: 29rem;
            }
            .btn-google {
              width: 29rem;
            }
          }
          .forgot {
            span {
              margin-right: 3.9rem;
            }
          }
        }
      }
    }
  }
}

.modal-senha { 
  height: 46rem;
  display: flex;
  justify-content: center;
  top: 17.4rem;
  left: 73.9rem;
  position: absolute;
  z-index: 2023;
  background-color: #FFFFFF;
  width: 74.2rem;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s;
  pointer-events: none;  
  &.senha-opened {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
  }  
  .container {
    
    display: flex;
    padding: 0;
    
    .imagens {
      margin-right: 5.4rem;
      width: 22.2rem;
      height: 46rem;
      background: url(../img/modal-senhas.png) no-repeat;
      background-size: cover;

    } 
    .texto {
      width: 100%;
      max-width: 43.4rem;
      margin-top: 3.2rem;
      margin-bottom: 1.6rem;
      .fechar-modal {
        display: flex;
        align-items: center;        
        justify-content: flex-end;
        
      }
      .titulo {
        width: 100%;
        max-width: 37.4rem;
        margin-bottom: 1.4rem;
        h2 {
          font-weight: 600;
          font-size: 3.2rem;
          line-height: 125%;
          color: $neutral-dark-700;
          margin-bottom: 0.8rem;
        }
        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          color: $neutral-dark-50;          
        }
      }
      .input {
        display: flex;
        flex-direction: column;
        span {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 150%;
          color: #052D41;
          margin-bottom: 0.3rem;          
        }
        input {
          width: 41.6rem;
          height: 5.6rem;
          margin-bottom: 2.9rem;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          color: $neutral-dark-50;
          box-shadow: 0px 24px 32px rgba(205, 208, 231, 0.3);
        }
      }
      .btn-recuperar-senha {
        width: 41.6rem;
        height: 5.6rem;
        background-color: $primary-default;
        color: #FFFFFF;
        font-size: 1.6rem;
        line-height: 150%;
        border: 1px solid $primary-default;
        transition: all .3s;
        &:hover {
          border: 1px solid $primary-default;
          background-color: #FFFFFF;
          color: $primary-default;
        }
      }
      
    }   

  }
  @include responsive (1440px) {
    left: 62.9rem;
  }
  @include responsive (1200px) {
    left: 45.9rem;
    width: 68.2rem;
  }
  @include responsive (800px) {
    left: 4.9rem;
  }
  @include responsive (480px) {
    left: 0;
    width: 100%;
    max-width: none;
    .container {
      background-color: #F2F5FC;
      .imagens {
        display: none;
      }
      .texto {
        max-width: 38rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .titulo {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          h2 {
            font-size: 2.2rem;
          }
          p {
            font-size: 1.4rem;
            max-width: 25rem;
          }
        }
        .input {
          align-items: center;
          input {
            
            width: 26.6rem;
            background-color: #F2F5FC;
            padding-left: 2rem;
          }
        }
        .btn-recuperar-senha {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26.6rem;
        }
      }
    }
  }
}
  
