.s-hero {
  
  .container {
    display: flex;
    position: relative; 
    .text-area {
      margin-top: 9.4rem;      
      position: relative;
      z-index: 2022;
      .up {
        display: flex;
        align-items: center;
        .icon {
          background-color: $primary-default;
          border-radius: 50%;
          height: 3.2rem;
          width: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1.2rem;        
        }
        span {
          color: $neutral-dark-500;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 150%;        
        }
      }
      .titulo {
        margin-top: 1.6rem;
        h1 {
          color: $neutral-dark-700;
          font-weight: 400;
          font-size: 5.8rem;
          line-height: 125%;
          width: 100%;
          max-width: 71.2rem;
          margin-bottom: 3rem;
          
          strong {
            text-decoration: underline $primary-default;
          }               
        }
        h3 {
          color: $neutral-dark-400;
          font-weight: 400;
          font-size: 2rem;
          line-height: 150%;
          width: 100%;
          max-width: 54.5rem;
          margin-bottom: 4rem;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        .cadastrar-negocio {
          background-color: $primary-default;
          color: #FFFFFF;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 150%;
          padding: 16px 32px;
          margin-right: 4.9rem;
          transition: all .3s;
          &:hover {
            border: 1px solid $primary-default;
            background-color: #FFFFFF;
            color: $primary-default;
          }
        }
        .fale-conosco {
          display: flex;
          align-items: center;
          img {
            margin-right: 1.2rem;
          }
          a {
            color: $neutral-dark-500;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
            transition: all .3s;
            &:hover {
              color: #140C40;
              text-decoration: underline #140C40;
            }
          }
        }
      }
    }
    .image-area {
      display: flex;      
      .primary-image {
        position: relative;
        top: 0;
        right: 5rem;
        
        img {
          z-index: 0;
        }
      }
      .chat {
        position: absolute;
        top: 20.9rem;
        right: 32.4rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        height: 49px;
        width: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .chart {
        position: absolute;
        width: 22.1rem;
        height: 19.9rem;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 33.1rem;
        right: 3.8rem;
        box-shadow: 0px 30px 40px -20px rgba(74, 77, 96, 0.2);
        backdrop-filter: blur(24px);
      }
    }
  }
}
  