/* CORES */

$primary-light: #2E7AFF;
$primary-default: #1D63FF;
$primary-dark: #0043D9;

$auxiliary-green: #35D9A8;
$auxiliary-yellow: #FFD76F;


/* ESCALAS DE PRETO */

$neutral-dark-800: #070514;
$neutral-dark-700: #0D0B1A;
$neutral-dark-600: #131020;
$neutral-dark-500: #1E1C2D;
$neutral-dark-400: #2A2739;
$neutral-dark-300: #353345;
$neutral-dark-200: #413E52;
$neutral-dark-100: #4C4A5E;
$neutral-dark-50: #757385;

$neutral-light-darker: #CBD6E2;
$neutral-light-lighter: #F2F5FC;
